// .video {
//     padding-top: 100px;
// }

// // .video__item a {
// //     position: relative;
// //     height: 580px;
// // }

// .video__item {
//     position: relative;
// }

// .video__play {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
    
// }

// .modal {
//     display: none;
//     position: fixed;
//     z-index: 1;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     overflow: auto;
//     background-color: rgb(0,0,0);
//     background-color: rgba(0,0,0,0.4);
// }

// .modal-content {
// position: absolute;
// background-color: #fff;
// left: 50%;
// top: 50%;
// transform: translate(-50%, -50%);

//     padding: 20px;
//     border: 1px solid #888;
//     width: 50%;
// }

// .close {
//     color: #1d8eff;
//     float: right;
//     font-size: 28px;
//     font-weight: bold;
//     width: 50px;
//     height: 50px;
// }

// .close:hover,
// .close:focus {
//     color: black;
//     text-decoration: none;
//     cursor: pointer;
// }

.video__wrapper {
    margin-top: 90px;
    width: 100%;
    background-image: url('../img/video/video.png');
    background-position: center center; /* x y */
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 583px;
    display: flex;
    justify-content: center;
    align-items: center;

}